In [2]:
import pandas as pd

C:\Users\Manjil\AppData\Local\Temp\ipykernel_2988\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
orgination = pd.read_csv("Data/Orgonization.csv")
orgination.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

How do I select a subset of a DataFrame?
How do I select specific columns from a DataFrame?

In [4]:
website = orgination["Website"]
website.head()

0                https://price.net/
1    http://www.hall-buchanan.info/
2         http://sullivan-reed.com/
3               https://becker.com/
4            http://www.brewer.com/
Name: Website, dtype: object

In [5]:
type(orgination['Website'])

pandas.core.series.Series

In [6]:
orgination["Website"].shape

(100,)

In [7]:
ind_num = orgination[["Industry","Founded"]]
ind_num.head()

                      Industry  Founded
0                     Plastics     1990
1  Glass / Ceramics / Concrete     2015
2                Public Safety     1971
3                   Automotive     2004
4               Transportation     1991

In [8]:
type(orgination[["Industry","Founded"]])

pandas.core.frame.DataFrame

In [9]:
orgination[["Industry","Founded"]].shape

(100, 2)

In [12]:
a = orgination["Founded"].head()
a > 2000

0    False
1     True
2    False
3     True
4    False
Name: Founded, dtype: bool

In [21]:
import pandas as pd

# Creating a DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])
print(df)

# Selecting a single row by label
row = df.loc['row1']

# Selecting specific rows and columns
subset = df.loc[['row1', 'row3'], ['A', 'C']]
row
subset

      A  B  C
row1  1  4  7
row2  2  5  8
row3  3  6  9

      A  C
row1  1  7
row3  3  9

In [23]:
# Selecting rows where column 'A' is greater than 1
filtered = df.loc[df['A'] > 1]
filtered

      A  B  C
row2  2  5  8
row3  3  6  9