# Pandas

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(
  {
    "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
  }
)

In [13]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

## Each column in a `DataFrame` is a `Series`.

**When selecting a single column of a pandas `DataFrame`, the result is a pandas Series. To select the column, use the column label in between square brackets `[]`.**

In [14]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

**A `pandas` Series has no column labels, as it is just a single column of a `DataFrame`. A `Series` does have row labels.**

In [15]:
ages = pd.Series([22,33,44],name = "Age")

In [16]:
ages

0    22
1    33
2    44
Name: Age, dtype: int64

**Find Maximum Value**

In [17]:
df["Age"].max()

58

In [18]:
ages.max()

44

In [22]:
df.count()

Name    3
Age     3
Sex     3
dtype: int64

In [25]:
df["Age"].min()

22

In [26]:
df["Age"].mean()

38.333333333333336

In [27]:
df["Age"].std()

18.230011885167087

*Iâ€™m interested in some basic statistics of the numerical data of my data table*

In [29]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

## REMEMBER

- Import the package, aka `import pandas as pd`

- A table of data is stored as a pandas `DataFrame`

- Each column in a `DataFrame` is a `Series`

- You can do things by applying a method on a `DataFrame` or `Series`